@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Source+Serif+Pro:ital,wght@0,900;1,400;1,700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /* font-family: "Jost", sans-serif; */
  font-family: "Shadows Into Light", cursive;
  /* font-family: "Source Serif Pro", serif; */
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* :root {
  font-size: 62.5%;
} */

li {
  max-width: 320px;
  margin: 20px;
}

img {
  /* border-radius: 10px 0 0 10px; */
  /* border-radius: 10px; */
}

header h1 {
  font-size: 40px;
}

body {
  padding: 10px;
  display: grid;
  place-content: center;
  text-transform: capitalize;
}

main {
  margin: 40px 0;
}

.birthday-car-contianer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
}

.pet-card {
  position: relative;
  display: flex;
  background: lightcoral;
  border-radius: 10px;
  padding: 10px;
}

.delete-button-container {
  position: absolute;
  top: 0;
  right: 0;
}

.pet-info-container {
  margin-top: 5px;
  margin-left: 10px;
}

.name {
  font-size: 1.35rem;
  font-weight: 800;
}

.link-as-button {
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  padding: 5px 20px;
  background: red;
}

.link-as-button:hover {
  opacity: 0.8;
}

.center {
  margin: 0 auto;
}

.mb-5 {
  margin-bottom: 15px;
}

.delete-button {
  border: none;
  font-weight: 800;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
}

.delete-button:hover {
  background: red;
  font-size: 40px;
  border-radius: 10px;
}

.submit-button {
  border: none;
  font-size: 20px;
  background: palegreen;
  color: black;
  cursor: pointer;
}

.pet-form {
  border: dashed peachpuff 5px;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
}
